<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="local" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
	</configSections>

	<local>
		<servers>
			<add uri="http://localhost:8091/pools"/>
		</servers>
		<buckets>
			<add name="default" />
		</buckets>
	</local>
</configuration>