<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="local" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
		<!--<section name="local_2" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />-->
	</configSections>

	<local>
		<servers>
			<add uri="http://localhost:8091/pools"/>
		</servers>
		<buckets>
			<add name="default" />
		</buckets>
	</local>

	<!--<local_2>
		<servers>
			<add uri="http://localhost:8091/pools"/>
		</servers>
		<buckets>
			<add name="nondefault" useSsl="false" password="" operationLifespan="2000">
				<connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"></connectionPool>
			</add>
		</buckets>
	</local_2>-->
</configuration>